{% extends "AppBundle::layout.html.twig" %}

{% block contentmain %}
    <style>
        .panel{
            width: 50%;
            margin: 0 auto;
        }
        .panel a{
            padding:20px;
            font-size: 16px;
        }
    </style>

 <div class="content">

    <h4 class="text-center">ELIGA EL TIPO DE PASE A REALIZAR</h4>
    <hr/>
    <div class="panel">

        <a class="btn btn-primary" href="{{ path("movimiento_externo", {'id':expediente.id}) }}"  
           role="button" data-toggle="tooltip" data-placement="top" 
           title="Desde una Mesa de Entrada a otra">EXTERNO</a>

        <a class="btn btn-primary" href="{{ path("movimiento_interno", {'id':expediente.id}) }}"  
           role="button" data-toggle="tooltip" data-placement="top" 
           title="Hacia una Persona">INTERNO</a>

        <a class="btn btn-primary" href="{{ path("movimiento_archivado", {'id':expediente.id}) }}"  
           role="button" data-toggle="tooltip" data-placement="top" 
           title="Hacia un lugar Físico">ARCHIVADOR</a>
    </div>

 </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <hr/>
{% endblock %}
