   .pagination > li > a
            {
                background-color: white;
                color: #060325;
            }

            .pagination > li > a:focus,
            .pagination > li > a:hover,
            .pagination > li > span:focus,
            .pagination > li > span:hover
            {
                color: #060325;
                background-color: #eee;
                border-color: #ddd;
            }

            .pagination > .active > a
            {
                color: white;
                background-color: #3d3d3d !Important;
                border: solid 1px #5A4181 !Important;
            }

            .pagination > .active > a:hover
            {
                background-color: #3d3d3d !Important;
                border: solid 1px #5A4181;
            }



