
{% extends "AppBundle::layout.html.twig" %}

{% block login %}

    <style>
        body{
            background-color:#fff;
        }
        .logincontent{
            width:525px;
            height:600px;
            padding:15px;
            margin:0 auto;
            margin-top: 30px;
            background-color:#dedede;
            {#-webkit-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.31);
            -moz-box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.31);
            box-shadow: -1px 0px 5px 3px rgba(0,0,0,0.31);#}
        }
        .title{
            padding:10px;
            padding-left:30px;
            padding-right:30px;
            outline:1px dashed #a6a6a6;
            margin-bottom:10px;
        }

        .header{
            background-color:#3d3d3d;
            color:#fff;
            padding-top:6px;
            padding-bottom: 3px;
        }
        .header p{
            text-align: center;
            font-weight: bold;

        }
        .border{
            outline:1px solid #c7c7c7;
        }
        .subcontent{
            padding:30px;
        }
        .btn{
            width:100%;
        }
    </style>

    <div class="logincontent"> 

        <div class="title">
            <strong style="color:#5eb5ab;">BIENVENIDO AL GIE</strong>
            <p>
                Gestión Interna de Expedientes.<br/>
                Dirección Provincial de Vialidad. Ministerio de infraestructura<br/> y transporte.

            <p/>

        </div>

        <div class="border">
            <form action="{{ path('login_check') }}" method="post">
                <div class="header">
                    <p>ACCESO AL SISTEMA</p>
                </div>
                <div class="subcontent">
                    {# Input para el campo iup #}
                    <label>USUARIO</label>
                    <input style="padding:20px;" placeholder="Email | Usuario(iup)" type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>


                    <label for="password">CONTRASEÑA</label>
                    <input style="padding:20px;" placeholder="**********" type="password" id="password" name="_password" class="form-control"/>
                    <br/>

                    <button style="padding:20px;" type="submit" class="form-submit btn btn-success">ENTRAR</button>

                    <input type="hidden" name="_target_path" value="/" />
                </div>
            </form>
        </div>
    </div>


{% endblock %}