{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <style>

    </style>



    {# {{ dump(responsables) }}#}


    <div class="">
        <label class="text-default">RESPONSABLE(<span class="text-danger">*</span>)</label>                 


        [{% for responsable in results -%}
        {{ {id: responsable.id, label: responsable.nombre, value: responsable.nombre}|json_encode|raw }}
        {# use "value" instead of "id" key, if you use jquery-ui #}
        {%- if not loop.last %},{% endif -%}
        {%- endfor %}]


        </div>  

        <script>
            $('#dependencia_responsable').autocompleter({
                url_list: '/author_search',
                url_get: '/author_get/'
            });
        </script>

        {% endblock %}
